/* CSS for vegas baby */

body {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.header,
.content,
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 5px;
    font-size: 2em;
    font-weight: 900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 222, 222);
    color: rgba(255, 140, 94, 0.7);

}

.content {
    flex: 1;
    flex-direction: column;
    background-color: rgb(255, 205, 186);
    width: 100%;
}

.map {
    flex-wrap: wrap;
    flex: 1;
}

.food {
    display: flex;
    justify-content: space-between;
    padding: 5em;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex: 2;
}

.tile {
    position: relative;
    border: 10px solid rgb(255, 222, 222);
    height: 20em;
    width: 15em;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, .7);
}

.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: rgb(255, 222, 222);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 1);
}

dialog {
    background-color: rgb(255, 222, 222);
    border: 0px solid rgb(255, 222, 222);
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
    width: fit-content;
    border-radius: 2%;
}

.bottom {
    display: flex;
    height: 2em;
    justify-content: space-around;
    align-items: center;
}

.heart img,
.heart .clicked img,
.close img {
    flex: 0;
    top: 7px;
    position: relative;
    width: 3em;
}

.link {
    background-color:rgb(255, 255, 255);
    margin-top: 10px;
    width: 200px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close img,
.link {
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
}